@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar-neutral {
    --scrollbar-thumb: hsl(var(--n)) !important;
}

@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }